@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-wine-berry: #562135;
  --color-lipstick-pink: #c3829e;
  --color-pink-pearl: #e9b1cd;
  --color-misty-rose: #ffe7de;
  --color-pastel-pink: #fcd1d7;

  --color-light-rose: #ffc6c6;
  --color-soft-peach: #ffebeb;
  --color-salmon-pink: #ff8080;
  --color-tea-green: #d0eed5;
  --color-flamingo-pink: 	#ffa6be;

  --color-deep-coffe: #704041;
  --color-ice-cold: #adf2f1;
  --color-boysenberry: #90335d;
  --color-pale-turquoise: #9bfdce;

  --color-red-violet: #cc0099;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: var(--color-flamingo-pink);
  background: linear-gradient(
    180deg, 
    var(--color-flamingo-pink) 0%, 
    var(--color-misty-rose) 50%, 
    var(--color-pastel-pink) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-boysenberry);
    cursor: pointer;
    transition: border-color 0.25s;
  }
  
  button:hover {
    border-color: var(--color-boysenberry);
  }

  a {
    font-weight: 600;
    color: var(--color-wine-berry);
    text-decoration: inherit;
  }
  a:hover {
    text-decoration: underline;
  }
}